body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    line-height: 1.9;
    color: #ffffff;
    position: relative;
}

body:before {
    z-index: -1;
    position: absolute;
    height: 50vh;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    background: #02044a;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Roboto", sans-serif;
    color: #000;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a,
a:hover {
    text-decoration: none !important;
}

.text {
    color: #02044a !important;
}

.text-black {
    color: #000;
}

.content {
    padding: 7rem 0;
}

.heading {
    font-size: 2.5rem;
    font-weight: 900;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.col-form-label {
    color: #000;
    font-size: 13px;
}

.btn,
.form-control,
.custom-select {
    height: 45px;
}

.custom-select:active,
.custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.btn {
    border: none;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.btn.btn-primary {
    background: #0c75ff;
    color: #fff;
    padding: 15px 20px;
}

.btn:hover {
    color: #fff;
}

.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.contact-wrap .col-form-label {
    font-size: 14px;
    color: #0c75ff;
    margin: 0 0 10px 0;
    display: inline-block;
    padding: 0;
}

.contact-wrap .form,
.contact-wrap .contact-info {
    padding: 40px;
}

.contact-wrap .contact-info {
    color: #02044a !important;
}

.contact-wrap .contact-info ul li {
    margin-bottom: 15px;
    color: #02044a !important;
}

.contact-wrap .contact-info ul li .wrap-icon {
    font-size: 20px;
    color: #02044a !important;
    margin-top: 5px;
}

.contact-wrap .form {
    background: #fff;
}

.contact-wrap .form h3 {
    color: #35477d;
    font-size: 20px;
    margin-bottom: 30px;
}

.contact-wrap .contact-info {
    background: #d1f06b;
}

.contact-wrap .contact-info h3 {
    color: #02044a !important;
    font-size: 20px;
    margin-bottom: 30px;
}

label.error {
    font-size: 12px;
    color: red;
}

#message {
    resize: vertical;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: #B90B0B;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.inner-container {
    height: 5vh;
    transform: translateY(-900%);
}

.shape {
    margin: 0 auto;
    position: relative;
    opacity: 0.7;
    height: 10vh;
}

.random-shape:after {
    font-family: FontAwesome;
    content: "\f04d";
}

@keyframes shape-1 {
    0% {
        transform: translate3d(0, 0, 0) rotate(244deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(604deg);
    }
}

.shape-container--1 {
    animation: shape-1 43s linear infinite;
}

.shape-container--1 .random-shape:after {
    margin: 4.7rem;
    color: #ffef96;
    font-size: 0.94rem;
    content: '\f077';
}

@keyframes shape-2 {
    0% {
        transform: translate3d(0, 0, 0) rotate(177deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(537deg);
    }
}

.shape-container--2 {
    animation: shape-2 41s linear infinite;
}

.shape-container--2 .random-shape:after {
    margin: 9.7rem;
    color: #cda1ff;
    font-size: 1.94rem;
    content: '\f077';
}

@keyframes shape-3 {
    0% {
        transform: translate3d(0, 0, 0) rotate(281deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(641deg);
    }
}

.shape-container--3 {
    animation: shape-3 67s linear infinite;
}

.shape-container--3 .random-shape:after {
    margin: 10.7rem;
    color: #31b4ff;
    font-size: 2.14rem;
    content: '\f077';
}

@keyframes shape-4 {
    0% {
        transform: translate3d(0, 0, 0) rotate(313deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(673deg);
    }
}

.shape-container--4 {
    animation: shape-4 69s linear infinite;
}

.shape-container--4 .random-shape:after {
    margin: 4.7rem;
    color: #45ffdc;
    font-size: 0.94rem;
    content: '\f04d';
}

@keyframes shape-5 {
    0% {
        transform: translate3d(0, 0, 0) rotate(218deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(578deg);
    }
}

.shape-container--5 {
    animation: shape-5 54s linear infinite;
}

.shape-container--5 .random-shape:after {
    margin: 3.7rem;
    color: #ff94a1;
    font-size: 0.74rem;
    content: '\f077';
}

@keyframes shape-6 {
    0% {
        transform: translate3d(0, 0, 0) rotate(124deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(484deg);
    }
}

.shape-container--6 {
    animation: shape-6 65s linear infinite;
}

.shape-container--6 .random-shape:after {
    margin: 7.7rem;
    color: #cda1ff;
    font-size: 1.54rem;
    content: '\f10c';
}

@keyframes shape-7 {
    0% {
        transform: translate3d(0, 0, 0) rotate(288deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(648deg);
    }
}

.shape-container--7 {
    animation: shape-7 61s linear infinite;
}

.shape-container--7 .random-shape:after {
    margin: 4.7rem;
    color: #45ffdc;
    font-size: 0.94rem;
    content: '\f04b';
}

@keyframes shape-8 {
    0% {
        transform: translate3d(0, 0, 0) rotate(309deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(669deg);
    }
}

.shape-container--8 {
    animation: shape-8 48s linear infinite;
}

.shape-container--8 .random-shape:after {
    margin: 8.7rem;
    color: #ffef96;
    font-size: 1.74rem;
    content: '\f04d';
}

@keyframes shape-9 {
    0% {
        transform: translate3d(0, 0, 0) rotate(340deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(700deg);
    }
}

.shape-container--9 {
    animation: shape-9 42s linear infinite;
}

.shape-container--9 .random-shape:after {
    margin: 5.7rem;
    color: #31b4ff;
    font-size: 1.14rem;
    content: '\f068';
}

@keyframes shape-10 {
    0% {
        transform: translate3d(0, 0, 0) rotate(199deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(559deg);
    }
}

.shape-container--10 {
    animation: shape-10 44s linear infinite;
}

.shape-container--10 .random-shape:after {
    margin: 4.7rem;
    color: #cda1ff;
    font-size: 0.94rem;
    content: '\f22d';
}

@keyframes shape-11 {
    0% {
        transform: translate3d(0, 0, 0) rotate(121deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(481deg);
    }
}

.shape-container--11 {
    animation: shape-11 60s linear infinite;
}

.shape-container--11 .random-shape:after {
    margin: 6.7rem;
    color: #cda1ff;
    font-size: 1.34rem;
    content: '\f10c';
}

@keyframes shape-12 {
    0% {
        transform: translate3d(0, 0, 0) rotate(200deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(560deg);
    }
}

.shape-container--12 {
    animation: shape-12 47s linear infinite;
}

.shape-container--12 .random-shape:after {
    margin: 7.7rem;
    color: #ff94a1;
    font-size: 1.54rem;
    content: '\f111';
}

@keyframes shape-13 {
    0% {
        transform: translate3d(0, 0, 0) rotate(74deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(434deg);
    }
}

.shape-container--13 {
    animation: shape-13 42s linear infinite;
}

.shape-container--13 .random-shape:after {
    margin: 3.7rem;
    color: #45ffdc;
    font-size: 0.74rem;
    content: '\f04b';
}

@keyframes shape-14 {
    0% {
        transform: translate3d(0, 0, 0) rotate(225deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(585deg);
    }
}

.shape-container--14 {
    animation: shape-14 43s linear infinite;
}

.shape-container--14 .random-shape:after {
    margin: 6.7rem;
    color: #31b4ff;
    font-size: 1.34rem;
    content: '\f067';
}

@keyframes shape-15 {
    0% {
        transform: translate3d(0, 0, 0) rotate(319deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(679deg);
    }
}

.shape-container--15 {
    animation: shape-15 65s linear infinite;
}

.shape-container--15 .random-shape:after {
    margin: 5.7rem;
    color: #ffef96;
    font-size: 1.14rem;
    content: '\f22d';
}

@keyframes shape-16 {
    0% {
        transform: translate3d(0, 0, 0) rotate(42deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(402deg);
    }
}

.shape-container--16 {
    animation: shape-16 54s linear infinite;
}

.shape-container--16 .random-shape:after {
    margin: 4.7rem;
    color: #9300c9;
    font-size: 0.94rem;
    content: '\f22d';
}

@keyframes shape-17 {
    0% {
        transform: translate3d(0, 0, 0) rotate(173deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(533deg);
    }
}

.shape-container--17 {
    animation: shape-17 46s linear infinite;
}

.shape-container--17 .random-shape:after {
    margin: 4.7rem;
    color: #cda1ff;
    font-size: 0.94rem;
    content: '\f068';
}

@keyframes shape-18 {
    0% {
        transform: translate3d(0, 0, 0) rotate(290deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(650deg);
    }
}

.shape-container--18 {
    animation: shape-18 50s linear infinite;
}

.shape-container--18 .random-shape:after {
    margin: 5.7rem;
    color: #31b4ff;
    font-size: 1.14rem;
    content: '\f22d';
}

@keyframes shape-19 {
    0% {
        transform: translate3d(0, 0, 0) rotate(353deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(713deg);
    }
}

.shape-container--19 {
    animation: shape-19 58s linear infinite;
}

.shape-container--19 .random-shape:after {
    margin: 9.7rem;
    color: #ff94a1;
    font-size: 1.94rem;
    content: '\f22d';
}

@keyframes shape-20 {
    0% {
        transform: translate3d(0, 0, 0) rotate(168deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(528deg);
    }
}

.shape-container--20 {
    animation: shape-20 69s linear infinite;
}

.shape-container--20 .random-shape:after {
    margin: 7.7rem;
    color: #4800c0;
    font-size: 1.54rem;
    content: '\f111';
}

@keyframes shape-21 {
    0% {
        transform: translate3d(0, 0, 0) rotate(132deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(492deg);
    }
}

.shape-container--21 {
    animation: shape-21 61s linear infinite;
}

.shape-container--21 .random-shape:after {
    margin: 7.7rem;
    color: #31b4ff;
    font-size: 1.54rem;
    content: '\f04d';
}

@keyframes shape-22 {
    0% {
        transform: translate3d(0, 0, 0) rotate(150deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(510deg);
    }
}

.shape-container--22 {
    animation: shape-22 46s linear infinite;
}

.shape-container--22 .random-shape:after {
    margin: 7.7rem;
    color: #9300c9;
    font-size: 1.54rem;
    content: '\f077';
}

@keyframes shape-23 {
    0% {
        transform: translate3d(0, 0, 0) rotate(84deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(444deg);
    }
}

.shape-container--23 {
    animation: shape-23 43s linear infinite;
}

.shape-container--23 .random-shape:after {
    margin: 1.7rem;
    color: #ffef96;
    font-size: 0.34rem;
    content: '\f067';
}

@keyframes shape-24 {
    0% {
        transform: translate3d(0, 0, 0) rotate(344deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(704deg);
    }
}

.shape-container--24 {
    animation: shape-24 59s linear infinite;
}

.shape-container--24 .random-shape:after {
    margin: 4.7rem;
    color: #31b4ff;
    font-size: 0.94rem;
    content: '\f04b';
}

@keyframes shape-25 {
    0% {
        transform: translate3d(0, 0, 0) rotate(55deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(415deg);
    }
}

.shape-container--25 {
    animation: shape-25 68s linear infinite;
}

.shape-container--25 .random-shape:after {
    margin: 6.7rem;
    color: #ff94a1;
    font-size: 1.34rem;
    content: '\f077';
}

@keyframes shape-26 {
    0% {
        transform: translate3d(0, 0, 0) rotate(136deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(496deg);
    }
}

.shape-container--26 {
    animation: shape-26 59s linear infinite;
}

.shape-container--26 .random-shape:after {
    margin: 1.7rem;
    color: #4800c0;
    font-size: 0.34rem;
    content: '\f04d';
}

@keyframes shape-27 {
    0% {
        transform: translate3d(0, 0, 0) rotate(177deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(537deg);
    }
}

.shape-container--27 {
    animation: shape-27 53s linear infinite;
}

.shape-container--27 .random-shape:after {
    margin: 7.7rem;
    color: #ffef96;
    font-size: 1.54rem;
    content: '\f04b';
}

@keyframes shape-28 {
    0% {
        transform: translate3d(0, 0, 0) rotate(187deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(547deg);
    }
}

.shape-container--28 {
    animation: shape-28 63s linear infinite;
}

.shape-container--28 .random-shape:after {
    margin: 7.7rem;
    color: #4800c0;
    font-size: 1.54rem;
    content: '\f10c';
}

@keyframes shape-29 {
    0% {
        transform: translate3d(0, 0, 0) rotate(165deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(525deg);
    }
}

.shape-container--29 {
    animation: shape-29 70s linear infinite;
}

.shape-container--29 .random-shape:after {
    margin: 2.7rem;
    color: #4800c0;
    font-size: 0.54rem;
    content: '\f04d';
}

@keyframes shape-30 {
    0% {
        transform: translate3d(0, 0, 0) rotate(127deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(487deg);
    }
}

.shape-container--30 {
    animation: shape-30 59s linear infinite;
}

.shape-container--30 .random-shape:after {
    margin: 7.7rem;
    color: #45ffdc;
    font-size: 1.54rem;
    content: '\f04b';
}

@keyframes shape-31 {
    0% {
        transform: translate3d(0, 0, 0) rotate(228deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(588deg);
    }
}

.shape-container--31 {
    animation: shape-31 61s linear infinite;
}

.shape-container--31 .random-shape:after {
    margin: 2.7rem;
    color: #4800c0;
    font-size: 0.54rem;
    content: '\f04d';
}

@keyframes shape-32 {
    0% {
        transform: translate3d(0, 0, 0) rotate(309deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(669deg);
    }
}

.shape-container--32 {
    animation: shape-32 70s linear infinite;
}

.shape-container--32 .random-shape:after {
    margin: 2.7rem;
    color: #cda1ff;
    font-size: 0.54rem;
    content: '\f04d';
}

@keyframes shape-33 {
    0% {
        transform: translate3d(0, 0, 0) rotate(267deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(627deg);
    }
}

.shape-container--33 {
    animation: shape-33 68s linear infinite;
}

.shape-container--33 .random-shape:after {
    margin: 2.7rem;
    color: #cda1ff;
    font-size: 0.54rem;
    content: '\f04b';
}

@keyframes shape-34 {
    0% {
        transform: translate3d(0, 0, 0) rotate(159deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(519deg);
    }
}

.shape-container--34 {
    animation: shape-34 52s linear infinite;
}

.shape-container--34 .random-shape:after {
    margin: 3.7rem;
    color: #9300c9;
    font-size: 0.74rem;
    content: '\f04b';
}

@keyframes shape-35 {
    0% {
        transform: translate3d(0, 0, 0) rotate(12deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(372deg);
    }
}

.shape-container--35 {
    animation: shape-35 69s linear infinite;
}

.shape-container--35 .random-shape:after {
    margin: 1.7rem;
    color: #4800c0;
    font-size: 0.34rem;
    content: '\f077';
}

@keyframes shape-36 {
    0% {
        transform: translate3d(0, 0, 0) rotate(315deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(675deg);
    }
}

.shape-container--36 {
    animation: shape-36 41s linear infinite;
}

.shape-container--36 .random-shape:after {
    margin: 8.7rem;
    color: #45ffdc;
    font-size: 1.74rem;
    content: '\f04d';
}

@keyframes shape-37 {
    0% {
        transform: translate3d(0, 0, 0) rotate(354deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(714deg);
    }
}

.shape-container--37 {
    animation: shape-37 54s linear infinite;
}

.shape-container--37 .random-shape:after {
    margin: 4.7rem;
    color: #ff94a1;
    font-size: 0.94rem;
    content: '\f04b';
}

@keyframes shape-38 {
    0% {
        transform: translate3d(0, 0, 0) rotate(21deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(381deg);
    }
}

.shape-container--38 {
    animation: shape-38 48s linear infinite;
}

.shape-container--38 .random-shape:after {
    margin: 5.7rem;
    color: #ff94a1;
    font-size: 1.14rem;
    content: '\f111';
}

@keyframes shape-39 {
    0% {
        transform: translate3d(0, 0, 0) rotate(192deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(552deg);
    }
}

.shape-container--39 {
    animation: shape-39 61s linear infinite;
}

.shape-container--39 .random-shape:after {
    margin: 9.7rem;
    color: #9300c9;
    font-size: 1.94rem;
    content: '\f068';
}

@keyframes shape-40 {
    0% {
        transform: translate3d(0, 0, 0) rotate(355deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(715deg);
    }
}

.shape-container--40 {
    animation: shape-40 41s linear infinite;
}

.shape-container--40 .random-shape:after {
    margin: 1.7rem;
    color: #cda1ff;
    font-size: 0.34rem;
    content: '\f10c';
}

@keyframes shape-41 {
    0% {
        transform: translate3d(0, 0, 0) rotate(339deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(699deg);
    }
}

.shape-container--41 {
    animation: shape-41 57s linear infinite;
}

.shape-container--41 .random-shape:after {
    margin: 9.7rem;
    color: #45ffdc;
    font-size: 1.94rem;
    content: '\f068';
}

@keyframes shape-42 {
    0% {
        transform: translate3d(0, 0, 0) rotate(191deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(551deg);
    }
}

.shape-container--42 {
    animation: shape-42 53s linear infinite;
}

.shape-container--42 .random-shape:after {
    margin: 7.7rem;
    color: #4800c0;
    font-size: 1.54rem;
    content: '\f068';
}

@keyframes shape-43 {
    0% {
        transform: translate3d(0, 0, 0) rotate(261deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(621deg);
    }
}

.shape-container--43 {
    animation: shape-43 42s linear infinite;
}

.shape-container--43 .random-shape:after {
    margin: 9.7rem;
    color: #45ffdc;
    font-size: 1.94rem;
    content: '\f04d';
}

@keyframes shape-44 {
    0% {
        transform: translate3d(0, 0, 0) rotate(51deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(411deg);
    }
}

.shape-container--44 {
    animation: shape-44 50s linear infinite;
}

.shape-container--44 .random-shape:after {
    margin: 8.7rem;
    color: #ff94a1;
    font-size: 1.74rem;
    content: '\f10c';
}

@keyframes shape-45 {
    0% {
        transform: translate3d(0, 0, 0) rotate(142deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(502deg);
    }
}

.shape-container--45 {
    animation: shape-45 67s linear infinite;
}

.shape-container--45 .random-shape:after {
    margin: 9.7rem;
    color: #31b4ff;
    font-size: 1.94rem;
    content: '\f04b';
}

@keyframes shape-46 {
    0% {
        transform: translate3d(0, 0, 0) rotate(35deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(395deg);
    }
}

.shape-container--46 {
    animation: shape-46 51s linear infinite;
}

.shape-container--46 .random-shape:after {
    margin: 7.7rem;
    color: #9300c9;
    font-size: 1.54rem;
    content: '\f10c';
}

@keyframes shape-47 {
    0% {
        transform: translate3d(0, 0, 0) rotate(65deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(425deg);
    }
}

.shape-container--47 {
    animation: shape-47 51s linear infinite;
}

.shape-container--47 .random-shape:after {
    margin: 2.7rem;
    color: #ff94a1;
    font-size: 0.54rem;
    content: '\f077';
}

@keyframes shape-48 {
    0% {
        transform: translate3d(0, 0, 0) rotate(80deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(440deg);
    }
}

.shape-container--48 {
    animation: shape-48 59s linear infinite;
}

.shape-container--48 .random-shape:after {
    margin: 2.7rem;
    color: #9300c9;
    font-size: 0.54rem;
    content: '\f067';
}

@keyframes shape-49 {
    0% {
        transform: translate3d(0, 0, 0) rotate(351deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(711deg);
    }
}

.shape-container--49 {
    animation: shape-49 48s linear infinite;
}

.shape-container--49 .random-shape:after {
    margin: 9.7rem;
    color: #ffef96;
    font-size: 1.94rem;
    content: '\f22d';
}

@keyframes shape-50 {
    0% {
        transform: translate3d(0, 0, 0) rotate(99deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(459deg);
    }
}

.shape-container--50 {
    animation: shape-50 46s linear infinite;
}

.shape-container--50 .random-shape:after {
    margin: 10.7rem;
    color: #ffef96;
    font-size: 2.14rem;
    content: '\f10c';
}

@keyframes shape-51 {
    0% {
        transform: translate3d(0, 0, 0) rotate(207deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(567deg);
    }
}

.shape-container--51 {
    animation: shape-51 58s linear infinite;
}

.shape-container--51 .random-shape:after {
    margin: 6.7rem;
    color: #cda1ff;
    font-size: 1.34rem;
    content: '\f04d';
}

@keyframes shape-52 {
    0% {
        transform: translate3d(0, 0, 0) rotate(55deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(415deg);
    }
}

.shape-container--52 {
    animation: shape-52 56s linear infinite;
}

.shape-container--52 .random-shape:after {
    margin: 3.7rem;
    color: #ffef96;
    font-size: 0.74rem;
    content: '\f10c';
}

@keyframes shape-53 {
    0% {
        transform: translate3d(0, 0, 0) rotate(176deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(536deg);
    }
}

.shape-container--53 {
    animation: shape-53 54s linear infinite;
}

.shape-container--53 .random-shape:after {
    margin: 7.7rem;
    color: #31b4ff;
    font-size: 1.54rem;
    content: '\f04b';
}

@keyframes shape-54 {
    0% {
        transform: translate3d(0, 0, 0) rotate(148deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(508deg);
    }
}

.shape-container--54 {
    animation: shape-54 67s linear infinite;
}

.shape-container--54 .random-shape:after {
    margin: 5.7rem;
    color: #cda1ff;
    font-size: 1.14rem;
    content: '\f10c';
}

@keyframes shape-55 {
    0% {
        transform: translate3d(0, 0, 0) rotate(206deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(566deg);
    }
}

.shape-container--55 {
    animation: shape-55 49s linear infinite;
}

.shape-container--55 .random-shape:after {
    margin: 6.7rem;
    color: #ff94a1;
    font-size: 1.34rem;
    content: '\f068';
}

@keyframes shape-56 {
    0% {
        transform: translate3d(0, 0, 0) rotate(318deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(678deg);
    }
}

.shape-container--56 {
    animation: shape-56 41s linear infinite;
}

.shape-container--56 .random-shape:after {
    margin: 4.7rem;
    color: #9300c9;
    font-size: 0.94rem;
    content: '\f111';
}

@keyframes shape-57 {
    0% {
        transform: translate3d(0, 0, 0) rotate(153deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(513deg);
    }
}

.shape-container--57 {
    animation: shape-57 53s linear infinite;
}

.shape-container--57 .random-shape:after {
    margin: 9.7rem;
    color: #cda1ff;
    font-size: 1.94rem;
    content: '\f111';
}

@keyframes shape-58 {
    0% {
        transform: translate3d(0, 0, 0) rotate(39deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(399deg);
    }
}

.shape-container--58 {
    animation: shape-58 61s linear infinite;
}

.shape-container--58 .random-shape:after {
    margin: 6.7rem;
    color: #ff94a1;
    font-size: 1.34rem;
    content: '\f077';
}

@keyframes shape-59 {
    0% {
        transform: translate3d(0, 0, 0) rotate(95deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(455deg);
    }
}

.shape-container--59 {
    animation: shape-59 68s linear infinite;
}

.shape-container--59 .random-shape:after {
    margin: 9.7rem;
    color: #31b4ff;
    font-size: 1.94rem;
    content: '\f04d';
}

@keyframes shape-60 {
    0% {
        transform: translate3d(0, 0, 0) rotate(289deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(649deg);
    }
}

.shape-container--60 {
    animation: shape-60 53s linear infinite;
}

.shape-container--60 .random-shape:after {
    margin: 10.7rem;
    color: #cda1ff;
    font-size: 2.14rem;
    content: '\f067';
}

@keyframes shape-61 {
    0% {
        transform: translate3d(0, 0, 0) rotate(357deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(717deg);
    }
}

.shape-container--61 {
    animation: shape-61 51s linear infinite;
}

.shape-container--61 .random-shape:after {
    margin: 5.7rem;
    color: #45ffdc;
    font-size: 1.14rem;
    content: '\f077';
}

@keyframes shape-62 {
    0% {
        transform: translate3d(0, 0, 0) rotate(187deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(547deg);
    }
}

.shape-container--62 {
    animation: shape-62 56s linear infinite;
}

.shape-container--62 .random-shape:after {
    margin: 3.7rem;
    color: #cda1ff;
    font-size: 0.74rem;
    content: '\f077';
}

@keyframes shape-63 {
    0% {
        transform: translate3d(0, 0, 0) rotate(63deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(423deg);
    }
}

.shape-container--63 {
    animation: shape-63 68s linear infinite;
}

.shape-container--63 .random-shape:after {
    margin: 3.7rem;
    color: #cda1ff;
    font-size: 0.74rem;
    content: '\f111';
}

@keyframes shape-64 {
    0% {
        transform: translate3d(0, 0, 0) rotate(318deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(678deg);
    }
}

.shape-container--64 {
    animation: shape-64 61s linear infinite;
}

.shape-container--64 .random-shape:after {
    margin: 8.7rem;
    color: #cda1ff;
    font-size: 1.74rem;
    content: '\f068';
}

@keyframes shape-65 {
    0% {
        transform: translate3d(0, 0, 0) rotate(62deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(422deg);
    }
}

.shape-container--65 {
    animation: shape-65 61s linear infinite;
}

.shape-container--65 .random-shape:after {
    margin: 8.7rem;
    color: #ffef96;
    font-size: 1.74rem;
    content: '\f068';
}

@keyframes shape-66 {
    0% {
        transform: translate3d(0, 0, 0) rotate(350deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(710deg);
    }
}

.shape-container--66 {
    animation: shape-66 42s linear infinite;
}

.shape-container--66 .random-shape:after {
    margin: 6.7rem;
    color: #31b4ff;
    font-size: 1.34rem;
    content: '\f10c';
}

@keyframes shape-67 {
    0% {
        transform: translate3d(0, 0, 0) rotate(191deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(551deg);
    }
}

.shape-container--67 {
    animation: shape-67 64s linear infinite;
}

.shape-container--67 .random-shape:after {
    margin: 3.7rem;
    color: #ff94a1;
    font-size: 0.74rem;
    content: '\f04b';
}

@keyframes shape-68 {
    0% {
        transform: translate3d(0, 0, 0) rotate(79deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(439deg);
    }
}

.shape-container--68 {
    animation: shape-68 66s linear infinite;
}

.shape-container--68 .random-shape:after {
    margin: 8.7rem;
    color: #cda1ff;
    font-size: 1.74rem;
    content: '\f111';
}

@keyframes shape-69 {
    0% {
        transform: translate3d(0, 0, 0) rotate(268deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(628deg);
    }
}

.shape-container--69 {
    animation: shape-69 44s linear infinite;
}

.shape-container--69 .random-shape:after {
    margin: 4.7rem;
    color: #ffef96;
    font-size: 0.94rem;
    content: '\f04d';
}

@keyframes shape-70 {
    0% {
        transform: translate3d(0, 0, 0) rotate(154deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(514deg);
    }
}

.shape-container--70 {
    animation: shape-70 58s linear infinite;
}

.shape-container--70 .random-shape:after {
    margin: 7.7rem;
    color: #45ffdc;
    font-size: 1.54rem;
    content: '\f04b';
}

@keyframes shape-71 {
    0% {
        transform: translate3d(0, 0, 0) rotate(195deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(555deg);
    }
}

.shape-container--71 {
    animation: shape-71 62s linear infinite;
}

.shape-container--71 .random-shape:after {
    margin: 10.7rem;
    color: #9300c9;
    font-size: 2.14rem;
    content: '\f22d';
}

@keyframes shape-72 {
    0% {
        transform: translate3d(0, 0, 0) rotate(162deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(522deg);
    }
}

.shape-container--72 {
    animation: shape-72 58s linear infinite;
}

.shape-container--72 .random-shape:after {
    margin: 5.7rem;
    color: #9300c9;
    font-size: 1.14rem;
    content: '\f077';
}

@keyframes shape-73 {
    0% {
        transform: translate3d(0, 0, 0) rotate(317deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(677deg);
    }
}

.shape-container--73 {
    animation: shape-73 63s linear infinite;
}

.shape-container--73 .random-shape:after {
    margin: 1.7rem;
    color: #9300c9;
    font-size: 0.34rem;
    content: '\f22d';
}

@keyframes shape-74 {
    0% {
        transform: translate3d(0, 0, 0) rotate(46deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(406deg);
    }
}

.shape-container--74 {
    animation: shape-74 53s linear infinite;
}

.shape-container--74 .random-shape:after {
    margin: 3.7rem;
    color: #cda1ff;
    font-size: 0.74rem;
    content: '\f04d';
}

@keyframes shape-75 {
    0% {
        transform: translate3d(0, 0, 0) rotate(328deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(688deg);
    }
}

.shape-container--75 {
    animation: shape-75 66s linear infinite;
}

.shape-container--75 .random-shape:after {
    margin: 4.7rem;
    color: #cda1ff;
    font-size: 0.94rem;
    content: '\f068';
}

@keyframes shape-76 {
    0% {
        transform: translate3d(0, 0, 0) rotate(222deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(582deg);
    }
}

.shape-container--76 {
    animation: shape-76 63s linear infinite;
}

.shape-container--76 .random-shape:after {
    margin: 1.7rem;
    color: #45ffdc;
    font-size: 0.34rem;
    content: '\f10c';
}

@keyframes shape-77 {
    0% {
        transform: translate3d(0, 0, 0) rotate(356deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(716deg);
    }
}

.shape-container--77 {
    animation: shape-77 54s linear infinite;
}

.shape-container--77 .random-shape:after {
    margin: 10.7rem;
    color: #ff94a1;
    font-size: 2.14rem;
    content: '\f10c';
}

@keyframes shape-78 {
    0% {
        transform: translate3d(0, 0, 0) rotate(235deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(595deg);
    }
}

.shape-container--78 {
    animation: shape-78 44s linear infinite;
}

.shape-container--78 .random-shape:after {
    margin: 6.7rem;
    color: #cda1ff;
    font-size: 1.34rem;
    content: '\f22d';
}

@keyframes shape-79 {
    0% {
        transform: translate3d(0, 0, 0) rotate(130deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(490deg);
    }
}

.shape-container--79 {
    animation: shape-79 62s linear infinite;
}

.shape-container--79 .random-shape:after {
    margin: 6.7rem;
    color: #4800c0;
    font-size: 1.34rem;
    content: '\f10c';
}

@keyframes shape-80 {
    0% {
        transform: translate3d(0, 0, 0) rotate(249deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(609deg);
    }
}

.shape-container--80 {
    animation: shape-80 61s linear infinite;
}

.shape-container--80 .random-shape:after {
    margin: 6.7rem;
    color: #31b4ff;
    font-size: 1.34rem;
    content: '\f22d';
}